## Build results
bin/
obj/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio Code
.vscode/
.history/

## OS files
.DS_Store
Thumbs.db

## Logs
*.log

## ASP.NET Core secrets
secrets.json

## Environment variable files
.env
.env.*

## NuGet
*.nupkg
packages/
*.snupkg

## Others
*.db
*.sqlite

# IIS Express settings
.vs/
